.top-left-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 10;
}

.small-extended-fab {
  background-color:  #fff !important;
  width: 12%;
  height: 7%;
  color: #1976d2;
}

.small-extended-fab mat-icon {
  color: #1976d2; 
}

