.table-wrapper {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.table-header {
  width: 100%;
  table-layout: fixed;
}

.scrollable-body {
  max-height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 900px) {
  .scrollable-body {
    max-height: 510px;
  }
}

@media (min-width: 1800px) {
  .scrollable-body {
    max-height: 680px;
  }
}

.table-body {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-body tr:hover td {
  background-color: #f8f8f8;
  cursor: pointer;
}

th,
td {
  text-align: center;
  padding: 8px 10px;
  word-wrap: break-word;
}

th {
  background-color: #f7f7f7 !important;
}

td {
  background-color: #fff;
}

.col-position {
  width: 100px;
  border-right: 1px solid #e0e0e0;
}

.col-name {
  width: 200px;
  border-right: 1px solid #e0e0e0;
}

.col-faculty {
  width: 260px;
  border-right: 1px solid #e0e0e0;
}

.col-type {
  width: 130px;
  border-right: 1px solid #e0e0e0;
}

.col-subtype {
  width: 120px;
  border-right: 1px solid #e0e0e0;
}

.col-actions {
  width: 150px;
}
