<div class="sidebar"
  [ngClass]="{ 'collapsed': isSidebarCollapsed && isMobileView }">
  @if (isMobileView) {
    <button type="button" class="hamburger" [attr.aria-label]="'navmenu.toggle-aria' | translate" (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  }

  <div class="logo">
    <h2>Logo</h2>
  </div>

  <div class="sidebar-content">
    <ul class="list">
      <li class="list">
        <a [routerLink]="'/home'" routerLinkActive="active" class="nav-link">
          <span class="link">{{ 'navmenu.home' | translate }}</span>
        </a>
      </li>
      @if (!authService.isLoggedIn()) {
        <li class="list">
          <a href="#" class="nav-link"><span class="link">{{ 'navmenu.create-schedule' | translate }}</span></a>
        </li>
      }
      <li class="list">
        <a [routerLink]="'/faculty'" routerLinkActive="active" class="nav-link">
          <span class="link">{{ 'navmenu.faculty' | translate }}</span>
        </a>
      </li>
      <li class="list">
        <a [routerLink]="'/department'" routerLinkActive="active" class="nav-link">
          <span class="link">{{ 'navmenu.department' | translate }}</span>
        </a>
      </li>
      <li class="list">
        <a [routerLink]="'/major'" routerLinkActive="active" class="nav-link">
          <span class="link">{{ 'navmenu.major' | translate }}</span>
        </a>
      </li>
      <li class="list">
        <a [routerLink]="'/room'" routerLinkActive="active" class="nav-link">
          <span class="link">{{ 'navmenu.rooms' | translate }}</span>
        </a>
      </li>
      <li class="list">
        <a [routerLink]="'/student'" routerLinkActive="active" class="nav-link">
          <span class="link">{{ 'navmenu.students' | translate }}</span>
        </a>
      </li>
      <li class="list">
        <a href="#" class="nav-link"><span class="link">{{ 'navmenu.teachers' | translate }}</span></a>
      </li>
      <li class="list">
        <a href="#" class="nav-link"><span class="link">{{ 'navmenu.subjects' | translate }}</span></a>
      </li>
    </ul>

    <ul class="list">
      <li class="list">
        <a href="#" class="nav-link">
          <i class="bx bx-cog icon"></i><span class="link">{{ 'navmenu.settings' | translate }}</span>
        </a>
      </li>

      @if (authService.isLoggedIn()) {
        <li class="list dropdown profile">
          <a href="#" class="nav-link">
            <div class="profile-link">
              <img src class="profile-img" alt="" />
              <span class="profile-name">Иван Иванов</span>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="link">{{ 'navmenu.open-profile' | translate }}</span></a></li>
            <li class="logout">
              <a href="#"><i class="bx bx-log-out icon"></i><span class="link">{{ 'navmenu.logout' | translate }}</span></a>
            </li>
          </ul>
        </li>
      }

      @if (!authService.isLoggedIn()) {
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-log-in icon"></i><span class="link">{{ 'navmenu.login' | translate }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
